.Card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 330px;
  height: 350px;
  margin-bottom: 25px;
  transition: 200ms;
  overflow: hidden;
  border-radius: 5px;
  text-decoration: none;
  background-color: $primary-color;
  @include media-min($media-desktop) {
    margin: 25px;
  }
  &:hover {
    cursor: pointer;
    box-shadow: rgba(14, 66, 61, 0.8) -5px 5px, rgba(14, 66, 61, 0.7) -10px 10px,
      rgba(14, 66, 61, 0.5) -15px 15px;
  }

  &__img {
    margin: 10px;
    height: 150px;
    width: 300px;
    align-self: center;
    object-fit: cover;
    border-radius: 5px;
  }

  &__content {
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 10px;
    &__tags {
      color: $primary-color;
      padding: 0;
    }
    &__description {
      margin-top: 0;
    }
  }
}
