.Home {
  max-width: 1240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 100px 20px;
  padding: 20px;
  @include media-min($media-desktop) {
    margin: 110px 20px;
  }
  &__title {
    font-size: 36px;
    padding: 32px 0;
    margin-top: 0;
    width: 100%;
    text-align: center;
    color: $primary-color;
    @include media-min($media-desktop) {
      padding: 40px 0;
      font-size: 42px;
    }
  }
  &__text {
    margin: 0 auto;
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    &__paragraph {
      margin-bottom: 15px;
    }
  }
  &__downloadButton {
    align-self: center;
    color: white;
    background-color: $primary-color;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    margin: 20px auto;
    padding: 10px 30px;
    &:hover {
      cursor: pointer;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }
  }
}
