.Project {
  margin: 100px 20px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @include media-min($media-desktop) {
    margin: 110px auto;
  }
  &__title {
    font-size: 36px;
    padding: 32px 0;
    margin-top: 0;
    width: 100%;
    position: relative;
    text-align: center;
    color: $primary-color;
    @include media-min($media-desktop) {
      padding: 40px 0;
      font-size: 42px;
    }
  }
  &__content {
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    margin: 50px;
    @include media-min($media-desktop) {
      flex-direction: row;
    }
    &__leftSection {
      display: flex;
      flex-direction: column;
      @include media-min($media-desktop) {
        margin-right: 50px;
      }
      &__cover {
        align-self: center;
        width: 250px;
        margin-bottom: 40px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        @include media-min($media-desktop) {
          width: 450px;
        }
      }
      &__tagContainer {
        color: $primary-color;
      }
    }
    &__rightSection {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      &__github {
        text-decoration: none;
        color: white;
        background-color: $primary-color;
        border-radius: 5px;
        border: none;
        font-size: 16px;
        margin: 15px auto;
        padding: 10px 20px;
        &:hover {
          cursor: pointer;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
            rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        }
      }
    }
  }
}
