.Projects {
  margin: 100px 20px 20px;
  display: flex;
  flex-wrap: wrap;
  @include media-min($media-desktop) {
    margin: 110px auto;
  }
  &__title {
    font-size: 36px;
    padding: 32px 0;
    margin-top: 0;
    width: 100%;
    position: relative;
    text-align: center;
    color: $primary-color;
    @include media-min($media-desktop) {
      padding: 40px 0;
      font-size: 42px;
    }
  }
  &__gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    @include media-min($media-desktop) {
      padding: 25px;
    }
  }
}
